html,
body {
  height: 100%;
  margin: 0;
}

/* Page Highlight */
::selection {
    color: #ffffff;
    background-color: #ef0000;
}

/* Navbar */
.navbar-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Nav Links */
.nav-link {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

a {
    color: #818a91;
    text-decoration: underline;
}

a:hover, a:active {
    color: #555;
}

a:link {
    text-decoration: none;
}

/* Button Style */
.btn-styled {
    text-transform: none;
}

/* Menu Profile */
.st-profile {
    background-image: none;
    background-repeat: no-repeat;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
}

.st-profile .profile-user-avatar {
    display: table-cell;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    width: 1rem;
}

.st-profile .profile-user-name {
    color: rgba(255,255,255,0.5);
    font-size: 1rem;
    font-weight: 600;
}

.st-profile .profile-user-close {
    color: red;
    display: table-cell;
    font-size: 1.5rem;
    horizon-align: middle;
    padding-left: 0.5rem;
    padding-right: 1.0rem;
}

.st-profile .profile-user-close a {
    color: rgba(255,255,255,0.5);
    transition: color 0.3s;
}

.st-profile .profile-user-close a:hover {
    color: rgba(255,255,255,0.7);
    transition: color 0.3s;
}

.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

.badge {
    font-weight: bold;
}

.badge-secondary {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
}

/* Jumbotron */
.bg-base-2 {
    background-color: #2d3636 !important;
    color: #ffffff !important;
}

.slice-lg {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
}

/* Landscape */
.milestone-number {
    font-size: 40px;
}

/* Language Dropdown Menu */
.dropdown-menu {
    border: 1px solid #eceff1;
    border-radius: 2px;
    line-height: 1;
    min-width: 10rem;
    box-shadow: 0 5px 25px 0 rgb(123 123 123 / 15%);
}

.list-group-item {
    padding: 0.5rem;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.125);
    color: #818a91;
    font-size: 0.875rem;
    background-color: #ffffff;
    margin-bottom: 0;
}

/* Footer */
.footer {
    /*background: #111;*/
    background: #2d3636;
    color: rgba(255,255,255,0.8);
}

/* Back to Top */
.btn-back-to-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    background: #ef0000;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.btn-back-to-top:before {
    font-family: "Ionicons";
    content: "\f3d8";
    display: block;
    font-size: 2rem;
    font-weight: bold;
    color:#ffffff
}

/* Modal */
.modal-content {
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}

/* Icon */
.fa-rectangle-xmark {
    float: right;
}

/* Video Play Button */
.play-video {
    position: absolute;
    left: 50%;
    top: 50%;
    line-height: 70px;
    display: inline-block;
    background: #fff;
    color: #2d3636;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition :0.25s;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    animation-delay: 0.2s;
    text-align: center
}

.play-video>i {
    font-size: 30px;
    margin-top: 22px;
    margin-left: -2px;
}

.play-video:hover {
    background: #f8f9fa;
    transform: scale(1.0);
    cursor: pointer
}

video {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* FAQ */
.accordion--style-3 .card,
.accordion--style-3 .card-header .card-title {
    border: none !important;
}

.accordion--style-3 .card-header .card-title>a {
    color: #818a91 !important;
    text-decoration: none;
}

.accordion--style-3 .card-header .card-title>a:hover {
    color: #55595c !important;
    text-decoration: none;
}

.accordion--style-3 .card-header .card-title>a[aria-expanded="true"] {
    color: #55595c !important;
    text-decoration: none;
}

/* Forms */
.card .form-card .form-card--style-2 {
    width: 100%;
    height: auto;
}

.form-card--style-2 .form-header {
    position: relative;
    padding: 2rem 0;
    background-color: #2d3636 !important;
    border-radius: 2px 2px 0 0;
}

.form-card--style-2 .form-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0 0 2px 2px;
}

.form-card--style-2 label {
    font-weight: 400;
    font-size: .875rem;
    text-transform: none;
    color: rgba(0,0,0,0.7);
}

.form-card--style-2 a {
    font-weight: 400;
    font-size: .875rem;
    text-decoration: underline;
}

/*select active {
  font-weight: bold !important;
  color: #fff !important;
  background: #bc0000 !important;
  text-transform: uppercase;
}*/

.custom-input-file--2+label {
    color: #555;
    border-color: #e6e6e6;
    background: transparent;
    margin-top: 0.5rem!important;
    padding: 0.75rem 1rem;
    max-width: 100%;
}

.custom-input-file--2+label:hover, .custom-input-file--2 .has-focus+label, .custom-input-file--2:focus+label {
    color: #555;
    border-color: #e6e6e6; 
    background: transparent;
    box-shadow: none;
}

.custom-input-file--2+label:active {
    background-color: #f6f6f6;
    opacity: 1;
    transition: background-color 0.2s linear;
    border-color: #e6e6e6;
    transition: border-color 0.2s linear;
    box-shadow: none;
}


/* Alerts */

.alert {
    position: relative;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-align: center;
    font-size: .875rem;
}

/* Dashboard */
#dashboard .block:hover {
    background: #e6e6e6;
    transform: scale(1.0);
    cursor: pointer
}

.d-inline-block .fa-stack-1x {
    color: #ffffff;
}

/* Date and Time Picker */ 
.flatpickr-calendar {
    font-size: 0.875rem;
    line-height: 24px;
    border-radius: 2px;
}

.flatpickr-month {
    background: #2d3636;
}

.text-center {
    text-align: center;
}

.btn-secondary:hover {
    color: black;
    background-color: #f5f5f5 !important;
    border-color: #2d3636 !important;
}

.btn-secondary.active{
    background-color: #2d3636 !important;
    border-color: #2d3636 !important;
}

.btn-secondary {
    padding: 0.625rem 0.875rem;
    /*font-family: "Nunito",sans-serif;*/
    font-size: .7rem;
    color: #818a91;
    background-color: transparent;
    border: 1px solid #eceeef;
    text-align: center !important;
}

.alert-msg-div,.error-div {
    background-color: #fcfcfc;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .alert-msg-div .alert-success,.alert-msg-div .alert-danger, .error-div .alert-danger {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .alert-msg-div .alert-success,.alert-msg-div .alert-danger, .error-div .alert-danger {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .alert-msg-div .alert-success,.alert-msg-div .alert-danger, .error-div .alert-danger {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .alert-msg-div .alert-success,.alert-msg-div .alert-danger, .error-div .alert-danger {
      max-width: 1140px;
    }
  }
  @media (max-width: 576px) {
    .alert-msg-div { height: auto !important;}
  .alert-msg-div .alert-success{
    top: 50% !important;
    left: 0!important;
    transform: translate(0, 0)!important;
  }

  }
.error-div {
    padding-top: 70px;
}

.index-msg .close {
    padding: 6px;
} 

.alert.alert-danger.my-3,.alert.alert-danger.mb-3, .index-msg .alert {
    padding: 7px;
}

.alert-danger .text-md {
    padding-bottom: 5px;
}

.my-3 .text-md {
    padding-bottom: 0px !important;
}
.alert-danger:last-child {
    margin-bottom: 0px !important;
}
.alert-msg-div .alert-success,.alert-msg-div .alert-danger {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-div .alert-danger {
    left: 50%;
    transform: translate(-50%, 0);
}

/* Pagination */
.pagination {
    border-radius: 2px;
    font-size: 0.875rem;
}

.pagination>.active .page-link,
.pagination>.active .page-link:focus,
.pagination>.active .page-link:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #FFF;
    background-color: #2d3636;
    border-color: #2d3636;
    box-shadow: none;
}

.pagination .page-item .page-link:focus, 
.pagination .page-item .page-link:hover, 
.pagination .page-item>span:focus, 
.pagination .page-item>span:hover {
    box-shadow: none;   
}

.sort-ul {
    display: inline-flex;
}

/* Toggle Switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    margin-top: 0.25rem!important;
    margin-right: 0.25rem!important;
    width: 50px;
    height: 24px
}

.toggle-switch input {
    display: none
}

.toggle-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #e6e6e6;
    background-color: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

.toggle-switch input:disabled+.toggle-switch-slider {
    border: 1px solid #e6e6e6
}

.toggle-switch-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 2px;
    background-color: #e6e6e6;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

input:checked+.toggle-switch-slider:before {
    background: #555;
    border-color: #555
}

input:checked+.toggle-switch-slider {
    border: 1px solid #e9ecef
}

input:focus+.toggle-switch-slider {
    box-shadow: 0 0 1px #e9ecef
}

input:checked+.toggle-switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

.toggle-switch-slider.round {
    border-radius: 35px
}
.toggle-switch-slider.round:before {
    border-radius: 50%
}

/* Card */
.card {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    background: #fff;
    -webkit-transition: all 0.3s linear;
    /* transition: all 0.3s linear; */
}

/* Modals */
.table tbody td {
    color: #55595c;
}

.flatpickr-day.selected, .flatpickr-day.selected:hover {
    background-color: #2d3636 !important;
    border-color: #2d3636 !important;
}

.form-control:focus {
    border-color: #2d3636 !important;
}

.flatpickr-day.today, .flatpickr-day.today:hover {
    color: #fff;
}

input:after {
    content: attr(placeholder) !important;
}

input[value]:not([value=""]) + input:after {
    content: '' !important;
}

.returnMsg {
    color: #155724;
    text-decoration: underline !important;
}

.manage-user .card>.card-title, .card>.card-header {
    background-color: transparent;
    padding: 1.5rem 1.5rem;
    border-bottom: 0px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.card-body .col-4 {
    padding-left: 0 !important;
}

.btn-styled {
    padding: 0.75rem !important;
}

